<h1>Listing measures</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @measures.each do |measure| %>
  <tr>
    <td><%= link_to 'Show', measure %></td>
    <td><%= link_to 'Edit', edit_measure_path(measure) %></td>
    <td><%= link_to 'Destroy', measure, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Measure', new_measure_path %>
