.vagrant
.ruby-uuid
.idea
.DS_Store
.bundle
.rubocop-http*
*.log
*.pem
*.swp
Gemfile.lock
gems
release.log
rubocop-results.xml
/vagrant/test_amis.json
/worker-nodes
/reports
/docker/deployment/user_variables.json

# in some configs the server and worker data are persisted in this directory, never commit
server-data
worker-data


# ignore files with ~ at end
*~
