.vagrant
.ruby-uuid
.idea
.ruby-version
.DS_Store
.bundle
Gemfile.lock
release.log
*.swp
/vagrant/test_amis.json
rubocop-results.xml
/worker-nodes

# in some configs the server and worker data are persisted in this directory, never commit
server-data
worker-data

# ignore files with ~ at end
*~
