[submodule "vagrant/chef/cookbooks/rbenv"]
	path = vagrant/chef/cookbooks/rbenv
	url = git@github.com:NREL-cookbooks/rbenv.git
[submodule "vagrant/chef/cookbooks/apt"]
	path = vagrant/chef/cookbooks/apt
	url = git@github.com:NREL-cookbooks/apt.git
[submodule "vagrant/chef/cookbooks/build-essential"]
	path = vagrant/chef/cookbooks/build-essential
	url = git@github.com:opscode-cookbooks/build-essential.git
[submodule "vagrant/chef/cookbooks/openstudio"]
	path = vagrant/chef/cookbooks/openstudio
	url = git@github.com:NREL-cookbooks/openstudio.git
[submodule "vagrant/chef/cookbooks/energyplus"]
	path = vagrant/chef/cookbooks/energyplus
	url = git@github.com:NREL-cookbooks/energyplus.git
[submodule "vagrant/chef/cookbooks/R"]
	path = vagrant/chef/cookbooks/R
	url = git@github.com:NREL-cookbooks/R.git
[submodule "vagrant/chef/cookbooks/mongodb"]
	path = vagrant/chef/cookbooks/mongodb
	url = git@github.com:nllong/mongodb.git
[submodule "vagrant/chef/cookbooks/ruby_build"]
	path = vagrant/chef/cookbooks/ruby_build
	url = git@github.com:NREL-cookbooks/chef-ruby_build.git
