branches:
  only:
    - /^dockerize.*$/
    - fix_pid_kill
matrix:
  allow_failures:
    - os: linux
  include:
  - os: linux
    env: 
      - REDHAT_BUILD: true
      - RUN_OPTS: "--privileged --volume=/sys/fs/cgroup:/sys/fs/cgroup:ro"
    services:
      - docker
  - os: linux
    env:
      - REDHAT_BUILD: false
      - OSX_BUILD: false
    services:
      - mongod
    sudo: required
  - os: osx
    osx_image: xcode7.3
    env:
      - REDHAT_BUILD: false
      - OSX_BUILD: true
before_install: ./travis/setup.sh
script: ./travis/test.sh
after_failure: ./travis/print_logs.sh
