version: 1.0.{build}-{branch}

image: Visual Studio 2019

environment:
  USE_TESTING_TIMEOUTS: "true"
  OPENSTUDIO_VERSION: 3.7.0
  OPENSTUDIO_VERSION_SHA: d5269793f1
  OPENSTUDIO_VERSION_EXT: ""
  OPENSTUDIO_TEST_EXE: C:\projects\openstudio\bin\openstudio.exe
  BUILD_TYPE: "test"
  SKIP_COVERALLS: "true"

artifacts:
  - path: 'export/*.tar.gz' #relative to root of repo
    name: oss.tar.gz

init:
#    - ps: iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))

clone_folder: C:\projects\openstudio-server

install:
# set PATH pre-installed ruby version
  - set PATH=C:\Ruby27-x64\bin;C:\Mongodb\bin;%PATH%
  - C:\projects\openstudio-server\ci\appveyor\setup_ruby.cmd
  - C:\projects\openstudio-server\ci\appveyor\setup.cmd

build: off

before_test:
  - cmd: ruby -v
  - cmd: gem -v
  - cmd: bundle -v
  - cmd: mongod.exe --version

test_script:
  - ps: C:\projects\openstudio-server\ci\appveyor\integration-test.ps1
  - cmd: C:\projects\openstudio-server\ci\appveyor\unit-test.cmd
  - cmd: C:\projects\openstudio-server\ci\appveyor\build_package.cmd #artifact upload occurs before on_finish
on_finish:
  - cmd: C:\projects\openstudio-server\ci\appveyor\print_logs.cmd
#  - ps: $blockRdp = $true; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))
on_failure:
  - cmd: C:\projects\openstudio-server\ci\appveyor\print_logs.cmd
