version: 1.0.{build}-{branch}

environment:
  USE_TESTING_TIMEOUTS: "true"
  OPENSTUDIO_VERSION: 2.5.1
  OPENSTUDIO_VERSION_SHA: 4f268e2854
  matrix:
    - RUBY_VERSION: "224-x64"

clone_folder: C:\projects\openstudio-server

install:
  - C:\projects\openstudio-server\ci\appveyor\setup.cmd

build: off

before_test:
  - ruby -v
  - gem -v
  - bundle -v
  - mongod.exe --version

test_script:
  - ps: C:\projects\openstudio-server\ci\appveyor\integration-test.ps1
  - cmd: C:\projects\openstudio-server\ci\appveyor\unit-test.cmd

on_failure:
  - C:\projects\openstudio-server\ci\appveyor\print_logs.cmd
