# Version used to deploy the latest version of the server from docker hub.

version: '3.4'
services:
  db:
    image: mongo:4.4.2
    ports:
      - "27017:27017"
    deploy:
      placement:
        constraints:
          - node.role == manager
      resources:
        reservations:
          cpus: "1"
    environment:
      MONGO_INITDB_ROOT_USERNAME: openstudio
      MONGO_INITDB_ROOT_PASSWORD: openstudio
  queue:
      image: redis:6.0.9
      ports:
        - "6379:6379"
   command: redis-server --requirepass ${REDIS_PASSWORD}

  web:
    image: nrel/openstudio-server:latest
    ports:
      - "80:80"
      - "443:443"
    environment:
      - OS_SERVER_NUMBER_OF_WORKERS=${OS_SERVER_NUMBER_OF_WORKERS}
      - QUEUES=analysis_wrappers
      - REDIS_URL=redis://:openstudio@queue:6379
      - MONGO_USER=openstudio
      - MONGO_PASSWORD=openstudio
    volumes:
      - osdata:/mnt/openstudio
    depends_on:
      - db
    deploy:
      placement:
        constraints:
          - node.role == manager
      resources:
        reservations:
          cpus: "1"
    command: /usr/local/bin/start-server
  web-background:
    image: nrel/openstudio-server:latest
    environment:
      - OS_SERVER_NUMBER_OF_WORKERS=${OS_SERVER_NUMBER_OF_WORKERS}
      - QUEUES=background,analyses
      - REDIS_URL=redis://:openstudio@queue:6379
      - MONGO_USER=openstudio 
      - MONGO_PASSWORD=openstudio
    volumes:
      - osdata:/mnt/openstudio
    depends_on:
      - db
      - queue
      - web
    deploy:
      endpoint_mode: dnsrr
      placement:
        constraints:
          - node.role == manager
      resources:
        reservations:
          cpus: "1"
    command: /usr/local/bin/start-web-background
  worker:
    image: nrel/openstudio-server:latest
    environment:
      - QUEUES=simulations
      - COUNT=1
      - REDIS_URL=redis://:openstudio@queue:6379
      - MONGO_USER=openstudio 
      - MONGO_PASSWORD=openstudio
    volumes:
      - /mnt/openstudio
    depends_on:
      - web
      - web-background
      - db
      - rserve
    deploy:
      endpoint_mode: dnsrr
      resources:
        reservations:
          cpus: "1"
    command: /usr/local/bin/start-workers
  rserve:
    image: nrel/openstudio-rserve:latest
    volumes:
      - osdata:/mnt/openstudio
    depends_on:
      - web
      - web-background
      - db
    deploy:
      endpoint_mode: dnsrr
      placement:
        constraints:
          - node.role == manager
      resources:
        reservations:
          cpus: "1"
volumes:
  osdata:
    external: true
networks:
  default:
    driver: overlay
