version: '3.4'
services:
  db:
    image: 127.0.0.1:5000/mongo
    ports:
      - "27017:27017"
    volumes:
      - dbdata:/data/db
    deploy:
      placement:
        constraints:
          - node.role == manager
      resources:
        reservations:
          cpus: "1"
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASSWORD}
  queue:
    image: 127.0.0.1:5000/redis
    ports:
      - "6379:6379"
    deploy:
      placement:
        constraints:
          - node.role == manager
      resources:
        reservations:
          cpus: "1"
    command: "redis-server --requirepass ${REDIS_PASSWORD}"
  web:
    image: 127.0.0.1:5000/openstudio-server
    ports:
      - "8080:80"
      - "80:80"
      - "443:443"
    environment:
      - OS_SERVER_NUMBER_OF_WORKERS=42
      - MAX_REQUESTS=60
      - MAX_POOL=16
      - QUEUES=analysis_wrappers
      - REDIS_URL=${REDIS_URL}
      - MONGO_USER=${MONGO_USER}
      - MONGO_PASSWORD=${MONGO_PASSWORD}
    volumes:
      - osdata:/mnt/openstudio
    depends_on:
      - db
      - queue
    deploy:
      placement:
        constraints:
          - node.role == manager
      resources:
        reservations:
          cpus: "1"
    command: /usr/local/bin/start-server
  web-background:
    image: 127.0.0.1:5000/openstudio-server
    environment:
      - OS_SERVER_NUMBER_OF_WORKERS=42
      - QUEUES=background,analyses
      - REDIS_URL=${REDIS_URL}
      - MONGO_USER=${MONGO_USER}
      - MONGO_PASSWORD=${MONGO_PASSWORD}
    volumes:
      - osdata:/mnt/openstudio
    depends_on:
      - db
      - web
      - queue
    deploy:
      endpoint_mode: dnsrr
      placement:
        constraints:
          - node.role == manager
      resources:
        reservations:
          cpus: "1"
    command: /usr/local/bin/start-web-background
  worker:
    image: 127.0.0.1:5000/openstudio-server
    environment:
      - QUEUES=simulations
      - COUNT=1
      - REDIS_URL=${REDIS_URL}
      - MONGO_USER=${MONGO_USER}
      - MONGO_PASSWORD=${MONGO_PASSWORD}
    volumes:
      - /mnt/openstudio
    depends_on:
      - web
      - web-background
      - db
      - queue
      - rserve
    deploy:
      endpoint_mode: dnsrr
      resources:
        reservations:
          cpus: "1"
    command: /usr/local/bin/start-workers
  rserve:
    image: 127.0.0.1:5000/openstudio-rserve
    volumes:
      - osdata:/mnt/openstudio
    depends_on:
      - web
      - web-background
      - db
    deploy:
      endpoint_mode: dnsrr
      placement:
        constraints:
          - node.role == manager
      resources:
        reservations:
          cpus: "1"
    environment:
      - REDIS_URL=${REDIS_URL}
      - MONGO_USER=${MONGO_USER}
      - MONGO_PASSWORD=${MONGO_PASSWORD}
volumes:
  osdata:
    external: true
  dbdata:
    external: true
networks:
  default:
    driver: overlay
    ipam:
      driver: default
      config:
        - subnet: 172.28.0.0/16
