<h2>Projects</h2>

<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>View</th>
    <th>Action</th>
  </tr>
<% @projects.each do |project| %>
  <tr>
    <td><%= link_to project.name, project_path(project) %></td>
    <td><%= link_to 'HTML', project_path(project) %> | <%= link_to 'JSON', project_path(project, :format => :json) %></td>
    <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
