<div class="row-fluid">
  <div class="span9">
    <div id="info-container">
      <div class="sensor"><h2><%= @variable.display_name %></h2></div>
      <%= render 'form' %>
    </div>
  </div>
</div>

