<p id="notice"><%= notice %></p>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Field Name</th>
    <th>Field Value</th>
  <tr>
  </thead>
  <tbody>
  <% @variable.as_document.each do |k, v| %>
      <tr>
        <td><%= k %></td>
        <td><%= v %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to image_tag(@variable.preflight_images.first.image.url(:large)), @variable.preflight_images.first.image.url(:original), :popup => ['original_image', 'height=700,width=900'] %>


