<h1>Listing analyses</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @analyses.each do |analysis| %>
  <tr>
    <td><%= link_to 'Show', analysis %></td>
    <td><%= link_to 'Edit', edit_analysis_path(analysis) %></td>
    <td><%= link_to 'Destroy', analysis, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />
