[defaults]
host_key_checking = False
inventory         = inventory.yml
remote_user       = ubuntu
gathering         = smart
stdout_callback   = yaml
retry_files_enabled = False
roles_path        = roles/

[ssh_connection]
pipelining = True
# ControlPath speedup for repeated connections to the same hosts
control_path = /tmp/ansible-%%h-%%p-%%r
