<%= form_for(@workflow_step) do |f| %>
  <% if @workflow_step.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@workflow_step.errors.count, "error") %> prohibited this workflow_step from being saved:</h2>

      <ul>
      <% @workflow_step.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
