<h1>Listing workflow_steps</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @workflow_steps.each do |workflow_step| %>
  <tr>
    <td><%= link_to 'Show', workflow_step %></td>
    <td><%= link_to 'Edit', edit_workflow_step_path(workflow_step) %></td>
    <td><%= link_to 'Destroy', workflow_step, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Workflow step', new_workflow_step_path %>
