<%= form_for(@data_point) do |f| %>
  <% if @data_point.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@data_point.errors.count, "error") %> prohibited this data_point from being saved:</h2>

      <ul>
      <% @data_point.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
