<%
  # *******************************************************************************
  # OpenStudio(R), Copyright (c) Alliance for Sustainable Energy, LLC.
  # See also https://openstudio.net/license
  # *******************************************************************************
%>

<% @css_class = '' %>
<% flash.each do |key, value| %>
    <% if key.to_s == 'error' || key.to_s == 'alert' %>
      <% @css_class = '_error' %>
      <% break %>
    <% end %>
<% end %>

<div id="flash_messages<%= @css_class %>"> 
  <% flash.each do |key, value| %>
    <%= value %><br/>
  <% end %>
</div>

