svg {
  font: 10px sans-serif;
}

.background path {
  fill: none;
  stroke: #ccc;
  stroke-opacity: .4;
  shape-rendering: crispEdges;
}

.foreground path {
  fill: none;
  stroke: steelblue;
  stroke-opacity: .7;
}

.brush .extent {
  fill-opacity: .3;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.axis line, .axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  text-shadow: 0 1px 0 #fff;
  cursor: move;
}

#graph-div {
  padding: 20px 10px;
  width: 1280px;
  height: 1000px;
}

#radar-div {
    padding:20px 10px;
    width: 1200;
    height: 600;
}

#bar-div {
    padding:20px 10px;
    width: 1200;
    height: 800;
}

.bar.positive {
    fill: #0079C2;
}

.bar.negative {
    fill: #F7A11A;
}

.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

#bar-div .x.axis text {
 text-anchor: start !important;

}

#bar-div .axis line,
#bar-div .axis path {
    fill: none;
    stroke: #000;
    stroke-width:1px;
    shape-rendering: crispEdges;
}

.wide-table {
    table-layout: fixed;
    word-wrap: break-word;
}

#xy-div {
    padding:20px 10px;
    width: 800;
    height: 500;
}

.dot {
    stroke: #000;
}
