version: '3'
services:
  db:
    image: mongo:latest
    deploy:
      placement:
        constraints:
          - node.role == manager
      resources:
        reservations:
          cpus: "1"
  web:
    image: nrel/openstudio-server:latest
    ports:
      - "80:80"
      - "443:443"
      - "8080:8080"
    environment:
      - OS_SERVER_NUMBER_OF_WORKERS=${OS_SERVER_NUMBER_OF_WORKERS}
    volumes:
      - osdata:/mnt/openstudio
    deploy:
      placement:
        constraints:
          - node.role == manager
      resources:
        reservations:
          cpus: "1"
  web-background:
    image: nrel/openstudio-server:latest
    volumes:
      - osdata:/mnt/openstudio
    command: bin/delayed_job -i server --queues=analyses,background run
    deploy:
      placement:
        constraints:
          - node.role == manager
      resources:
        reservations:
          cpus: "1"
  worker:
    image: nrel/openstudio-server:latest
    command: bin/delayed_job -i worker --queue=simulations run
    deploy:
      resources:
        reservations:
          cpus: "1"
  rserve:
    image: nrel/openstudio-rserve:latest
    volumes:
      - osdata:/mnt/openstudio
    deploy:
      placement:
        constraints:
          - node.role == manager
      resources:
        reservations:
          cpus: "1"
volumes:
  osdata:
    external: true
networks:
  default:
    driver: overlay
