version: '3'
services:
  db:
    image: mongo:latest
    deploy:
      placement:
        constraints:
          - node.role == manager
      resources:
        reservations:
          cpus: "1"
  web:
    image: nrel/openstudio-server:latest
    ports:
      - "80:80"
      - "443:443"
      - "8080:8080"
    volumes:
      - osdata:/mnt/openstudio
    depends_on:
      - db
    deploy:
      placement:
        constraints:
          - node.role == manager
      resources:
        reservations:
          cpus: "1"
  web-background:
    image: nrel/openstudio-server:latest
    volumes:
      - osdata:/mnt/openstudio
    command: bin/delayed_job -i server --queues=analyses,background run
    depends_on:
      - db
      - web
    deploy:
      placement:
        constraints:
          - node.role == manager
      resources:
        reservations:
          cpus: "1"
  worker:
    image: nrel/openstudio-server:latest
    command: bin/delayed_job -i worker --queue=simulations run
    depends_on:
      - web
      - web-background
      - db
      - rserve
    deploy:
      resources:
        reservations:
          cpus: "0.99"
  rserve:
    image: nrel/openstudio-rserve:latest
    volumes:
      - osdata:/mnt/openstudio
    depends_on:
      - web
      - web-background
      - db
    deploy:
      placement:
        constraints:
          - node.role == manager
      resources:
        reservations:
          cpus: "1"
volumes:
  osdata:
    external: true
networks:
  default:
    driver: overlay
